/*****초기화*****/
* {margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html {width:100%; height:100%; margin:0; padding:0;}
body {min-width:1400px; height:100%; font-size:14px; font-family:'Noto Sans KR', sans-serif; font-weight:400;  color:#333; line-height:1.6em; word-break:break-all; margin:0; padding:0; letter-spacing:-0.5px;}
img {border:0; margin:0; padding:0;}
ul,ol {list-style:none; padding:0;}

button {border-style:none;}
a {text-decoration:none; color:#333; cursor:pointer; outline:0 !important;  word-wrap:expression( this.style.wordWrap="normal",this.hideFocus=true);}
a:hover, a:active, a:focus {color:#333;}
table {border-collapse:collapse; cellspacing:0; cellpadding:0; word-break:break-all;}
strong {font-weight:600;}
caption {position:relative; visibility:hidden; height:0; line-height:0; display:none;}
select {appearance:none;-moz-appearance:none;-webkit-appearance:none; vertical-align:middle;  padding:0 2px;}
select::-ms-expand {display: none; }
select,input[type=text],input[type=password],input[type=number]{-webkit-border-radius:0;-webkit-appearance:none; }
input {vertical-align:middle;}
input[type=checkbox] ,[type=radio]  {vertical-align:middle;}
label {font-weight:400;}

/***** align *****/
.left{text-align:left !important;}
.right{text-align:right !important;}
.center{text-align:center !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.clear {display:block; height:0; }
.clear:after{content:""; display: block; clear:both;}
.no_border {border:0 !important;}
.no_border_left {border-left:0 !important;}
p {margin:0;}

article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}


/**공통 모달**/
.fade{opacity:0.5;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear; background:rgb(0,0,0); width:100%; height:100%; position:fixed; top:0; left:0; z-index:999;}
.collapse{display:none;visibility:hidden}
.modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0); width:1120px;}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto; margin:10% auto 0 auto; border:1px solid #999;}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;}
.modal-backdrop{position:absolute;top:0;right:0;left:0;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.43px; padding:10px; border-bottom:1px solid #ccc; background:#ededed;}
.modal-header .close{position:absolute; top:13px; right:13px; cursor:pointer;}
.modal-title{margin:0;line-height:1.42857143; font-size:18px; color:#333; font-weight:500;}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}

/*loading*/
.loading {width:100%; height:100%; background:#fff; position:fixed; top:0; left:0; z-index:9999;}
.loading img {position:absolute; top:50%; left:50%; margin:-33px 0 0 -33px;}
.loading p {width:100%; text-align:center; position:absolute; top:60%; font-size:18px; color:#d36672; font-weight:bold;}

/*header*/
#header {width:100%; padding:10px 30px; position:absolute; top:0; left:0; z-index:999;}
#header:after {display:block; clear:both; content:"";}
#header .logo {float:left; display:block;}
#header .logo img {width:60px;}
#header .main_gnb {float:right; font-family: 'Nanum Myeongjo', serif;}
#header .main_gnb li {display:inline-block; position:relative; width:180px; height:70px; line-height:70px; font-size:18px; text-align:center; }
#header .main_gnb li a * {transition: all 0.6s ease; -webkit-transition: all 0.6s ease;}
#header .main_gnb li a {position:absolute; top:0; left:0; color:#4b2727;}
#header .main_gnb li a h3:nth-of-type(2) {opacity: 0; -webkit-transform: translateY(-80%); transform: translateY(-80%);}

#header .main_gnb li a:hover h3:first-of-type {-webkit-transform: translateY(-30%); transform: translateY(-30%); opacity: 0;}
#header .main_gnb li a:hover h3:nth-of-type(2) {-webkit-transform: translateY(-100%); transform: translateY(-100%); opacity: 1;}

.fixed_header {position:fixed !important; top:0; background:rgba(0,0,0,0.3);}
.fixed_header .main_gnb li a {color:#fff !important;}


/*slogan*/
#slogan {width:100%; height:100%; background:url("../images/main_bg.gif") no-repeat; background-size:100% 100%; position:relative;}
#slogan .slogan_img {position:absolute; bottom:0; right:0;}
#slogan .slogan_text {position:absolute; display:none; left:0%; top:50%; margin:-145px 0 0 0;}

/*WHO AM I*/
.whoami {width:100%; height:100%; padding:150px 50px;}
.whoami:after {display:block; clear:both; content:"";}
.bullet_title {background:url("../images/bullet.png")no-repeat center left 5px; color:#524d4d; font-size:24px; padding:0 0 0 30px; font-weight:bold; margin:0 0 60px 0;}
.second_title {font-size:20px; color:#524d4d; font-weight:bold; margin:0 0 30px 0;}
.div_50 {width:50%; float:left;}

.greeting p {font-size:16px; color:#524d4d; line-height:1.6; }

/*whoami (keyword)*/
.slideshow-container {width:100%; position:relative; margin:0;}
.slide-box-hidden {width:100%; position:relative; overflow:hidden;}
.myslide {position:relative; width:25%; height:100%; float:left; background:#000; overflow:hidden;}
.myslide * {-webkit-transition: all 0.45s ease-in-out; transition: all 0.45s ease-in-out;}
.myslide img {width:100%;}
.myslide figcaption {opacity:0; position:absolute; top:5%; left:5%; right:5%; bottom:5%; border:1px solid #f5f5f5;}
.myslide figcaption h3 {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:1.5rem; color:#fff;}

.myslide:hover img {opacity:0.5; -webkit-tranform:scale(1.0); transform: scale(1.1);}
.myslide:hover figcaption {opacity:1;}


/**Certificate, education**/
.certificate, .education {margin:100px 0 0 0;}
.certificate ul, .education ul {width:100%; padding:0 0 0 90px;}
.certificate ul li, .education ul li {font-size:16px; color:#524d4d; line-height:1.6; }
.certificate ul {background:url("../images/certification_icon.png")no-repeat left top;}
.education ul {background:url("../images/education_icon.png")no-repeat left top;}

/*.myslide .hover_bg {display:none; width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(0,0,0,0); text-align:center;}
.myslide .hover_bg h3 {display:none; position:absolute; top:50%; transform:translateY(-50%); left:50%; transform:translateX(-50%); color:#fff; font-size:1.5rem;}

.myslide_hover .hover_bg {display:block; width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(0,0,0,0.5); text-align:center; transition:.5 ease;}
.myslide_hover .hover_bg h3 {display:block; position:absolute; top:50%; transform:translateY(-50%); left:50%; transform:translateX(-50%); color:#fff; font-size:1.5rem;}
*/
.slide-controller {width:100%; position:absolute; height:100%;}
.slide-controller .prev {position:absolute; top:50%; left:-22px; margin:-22px 0 0 0; z-index:99;}
.slide-controller .next {position:absolute; top:50%; right:-22px; margin:-22px 0 0 0; z-index:99;}

.slide-box {position:relative; width:100%; height:100%; overflow:hidden;}


/*skill*/
.myskill {width:100%; position:relative; height:400px;}
.myskill:after {display:block; clear:both; content:"";}

.skill_box {width:100%; height:100%; padding:50px; position:absolute; top:0; left:0; background:url("../images/skill_bg.gif") no-repeat; background-attachment:fixed; background-size:cover;}

.graph_box {width:100%; padding:0 5%;}
.graph_box ul {width:100%;}
.graph_box ul:after {display:block; clear:both; content:"";}
.graph_box ul li {width:20%; float:left; padding:0 10px; font-size:22px; color:#524d4d; font-weight:600; text-align:center;}
.graph_box ul li div {width:80%;}



/*contact me*/
.contactme {width:100%; position:relative; padding:100px 50px;}
.contactme:after {display:block; clear:both; content:"";}

.contactme  #map {width:100%; height:400px; overflow:hidden; padding:0 50px 0 0;}

.mycontact_info {padding:0 0 0 30px;}
.mycontact_info p {font-size:16px; color:#524d4d; font-weight:bold; margin:0 0 20px 0;}
.mycontact_info p.last_p {margin:150px 0 0 0;}
.mycontact_info .contact_btn_box {width:100%; margin:30px 0 0 0;}
.mycontact_info .contact_btn_box:after {display:block; clear:both; content:"";}
.mycontact_info .contact_btn_box a {display:inline-block; max-width:321px; width:40%; height:65px; line-height:65px; background:#f5949f; color:#fff; text-align:center; font-size:15px;
    transition:all 0.6s; -webkit-transition: all 0.6s;}
.mycontact_info .contact_btn_box a.portfiolo_btn {margin:0 25px 0 0;}

.mycontact_info .contact_btn_box a:hover {background:#d36672;}

/*footer*/
.footer {width:100%; margin:150px 0 0 0; padding:30px; background:#363636; color:#fff; text-align:center;}
.footer:after {display:block; clear:both; content:"";}
.footer p {font-size:12pxx;}




/*Portfolio*/
#Portfolio {width:100%; background:#fff; padding:80px 0 160px 0; color:#555;}
#Portfolio:after {display:block; clear:both; content:"";}


#Portfolio .tab_menu {margin:80px 0 0 0; text-align:center;}
.noti{margin:50px 0 10px 0; font-size:18px;}
.noti span {color:#298797;}
#Portfolio .tab_menu:after{display:block; clear:both; content:"";}
#Portfolio .tab_menu ul {width:1400px; margin:0 auto;}
#Portfolio .tab_menu ul li {display:inline-block; width:12%; height:50px; margin:0 1% 0 0; line-height:48px; border:1px solid #555; border-radius:10px; text-align:center;}
#Portfolio .tab_menu ul li a {display:block; width:100%; height:100%; color:#555; font-size:20px;}
#Portfolio .tab_menu ul li.active {background:#298797; border:1px solid #298796;}
#Portfolio .tab_menu ul li.active a {color:#fff;}
#Portfolio .tab_menu ul li.last {margin:0;}


.portfolio_box {width:1400px; margin:0 auto; column-count:3; column-gap: 15px; padding:80px 0 0 0;}
.portfolio_box figure {position: relative; display:inline-block; border:1px solid #ccc; margin:0 0 15px 0; padding:10px; box-shadow: 2px 2px 3px #eee; cursor:pointer; overflow:hide;}
.portfolio_box figure .fade {width:100%; height:383px; position:absolute; top:0; left:0; background:url("../images/plus.png")no-repeat center rgba(0,0,0,0.5);}
.portfolio_box figure img {width:100%; margin:0 0 10px 0;}
.portfolio_box figure figcaption {border-top:1px solid #ccc; padding: 15px 15px 0 15px;}


/*contactme*/

#ContactMe {width:100%;  min-width:1400px; padding:50px 200px 160px 200px; background:url("../images/contactme_bg.gif")no-repeat;}
#ContactMe .main_title {color:#fff; background:url("../images/title_line_w.gif")no-repeat center bottom;}
#ContactMe .contact_box {margin:70px 0 0 0; text-align:center;}
#ContactMe .contact_box p a {color:#fff;
    -webkit-transition: color 300ms;
    transition: color 300ms;}
#ContactMe .contact_box p a:hover {color:#333;}
#ContactMe .contact_box p {display:inline-block; width:235px; height:36px; line-height:36px; color:#fff; font-size:18px; padding:0 0 0 50px; margin:0 20px 0 0;}
#ContactMe .contact_box p.phone {background:url("../images/phone_icon.png")no-repeat center left; text-align:left; padding:0 0 0 40px;}
#ContactMe .contact_box p.mail {background:url("../images/mail_icon.png")no-repeat center left;}
#ContactMe .down_btn {display:block; color:#fff; border:1px solid #fff; font-size:20px; text-align:center; width:256px; height:50px; line-height:48px; border-radius: 10px; margin:90px auto 0 auto;
 -webkit-transition: color 300ms, background 500ms, border-color 700ms;
 transition: color 300ms, background 500ms, border-color 700ms;}
#ContactMe .down_btn:hover {background:#fff; color:#298796;}


/*footer*/
#footer {min-width:1400px; background:#333; color:#fff; padding:30px;}
#footer p {font-size:12px; line-height:1.2; font-weight:300;}
#footer .copyright {text-align:center;}


/*detail_subpage*/
.portfolio_detail {position:relative; width:100%; height:100%; background:url("../images/skill_bg.gif") no-repeat; background-attachment:fixed; background-size:cover; padding:130px 0 0 0;}
.portfolio_detail:after {display:block; clear:both; content:"";}

.portfolio_detail .portfolio_arrow {position:absolute; width:100%; height:570px;}
.portfolio_detail .portfolio_arrow .next {position:absolute; right:20px; top:50%; transform:translateY(-50%);} 
.portfolio_detail .portfolio_arrow .prev {position:absolute; left:20px; top:50%; transform:translateY(-50%);}

.portfolio_detail .port_info {display:table; width:100%; padding:0 140px; height:570px;}
.portfolio_detail .port_info img {display:table-cell; padding:0 50px 0 0;}
.portfolio_detail .port_info .port_info_text {display:table-cell; vertical-align:top; width:100%; height:100%; padding:2%; border:1px solid #736c6c; background:rgba(255,255,255,0.5);}
.portfolio_detail .port_info .port_info_text h1 {font-size:24px; color:#282828; text-align:center; margin:0 0 20px 0;}
.portfolio_detail .port_info .port_info_text h3 {font-size:14px; color:#676363; text-align:center; font-weight:300; margin:0 0 20px 0;}
.portfolio_detail .port_info .port_info_text h2 {font-size:16px; color:#676363; font-weight:300; margin:0 0 15px 0;}
.portfolio_detail .port_info .port_info_text strong{font-size:16px; color:#373737; display:inline-block; width:80px; vertical-align:top;}
.portfolio_detail .port_info .port_info_text ul {display:inline-block; font-size:16px; color:#676363; font-weight:300;}
.portfolio_detail .port_info .port_info_text ul li {background:url("../images/li_bullet.png")no-repeat left 0px top 10px; padding:0 0 0 15px; font-size:16px; color:#676363; font-weight:300;}
.portfolio_detail .btn_box {position:absolute; width:100%; bottom:40px; text-align:center;}
.portfolio_detail .btn_box a {display:inline-block; width:250px; height:50px; line-height:50px; font-size:16px; text-align:center; border:1px solid #282828; color:#282828; 
    border-radius:50px; transition: all 0.4s ease-in-out 0.1s; -webkit-transform: :all 0.4s ease-in-out 0.1s;}
.portfolio_detail .btn_box a:hover {background:#e79a9a; color:#fff; border:1px solid #e79a9a}



/**부트스트랩 캐러셀 소스**/
.sr-only{position: absolute; left: -9999999px;}
.carousel { position: relative;}
.carousel-inner { position: relative; width: 100%; overflow: hidden;}
.carousel-inner > .item { position: relative; display: none; -webkit-transition: .6s ease-in-out left; -o-transition: .6s ease-in-out left; transition: .6s ease-in-out left;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {line-height: 1;}



@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev { display: block;}
.carousel-inner > .active {left: 0;}
.carousel-inner > .next,
.carousel-inner > .prev {position: absolute; top: 0; width: 100%;}
.carousel-inner > .next {left: 100%;}
.carousel-inner > .prev {left: -100%;}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {left: 0;}
.carousel-inner > .active.left {left: -100%;}
.carousel-inner > .active.right {left: 100%;}
.carousel-control { position: absolute; top: 0; bottom: 0; left: 0; width: 15%; font-size: 20px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, .6); filter: alpha(opacity=50); opacity: .5;}
.carousel-control.left {background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001))); background-image:linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); background-repeat: repeat-x;}
.carousel-control.right { right: 0; left: auto; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5))); background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); background-repeat: repeat-x;}
.carousel-control:hover,
.carousel-control:focus { color: #fff; text-decoration: none; filter: alpha(opacity=90); outline: 0; opacity: .9;}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right { position: absolute; top: 50%; z-index: 5;  display: inline-block; margin-top: -10px;}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left { left: 50%; margin-left: -10px;}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right { right: 50%; margin-right: -10px;}
.carousel-control .icon-prev,
.carousel-control .icon-next { width: 20px;  height: 20px; font-family: serif; line-height: 1;}
.carousel-control .icon-prev:before {content: '\2039';}
.carousel-control .icon-next:before { content: '\203a';}
.carousel-indicators { position: absolute; top:-80px; right:14px; z-index:15;  padding-left: 0; list-style: none;}
.carousel-indicators li {display: inline-block; width: 10px; height: 10px; margin:0 4px; text-indent: -999px; cursor: pointer;background-color: #848484;  border-radius: 50px;}
.carousel-indicators .active {width: 31px; height: 10px;margin: 0; background-color:#e79a9a;}
.carousel-caption {display:none;}



.portfolio_slide {width:100%; padding:100px 150px;}
.slide_ul{width:100%;}
.slide_ul:after {display:block; clear:both; content:"";}
.slide_ul li {width:32%; margin:0 2% 100px 0; float:left;}
.slide_ul li:nth-child(3n) {margin:0 0 100px 0;}
.slide_ul li img {border:1px solid #808080; width:100%;}
.slide_ul li .bullet {width:100%; height:18px; margin:23px 0 15px 0;}
.slide_ul li p {font-size:16px;}
.PC_bullet {display:inline-block; width:40px; height:18px; padding:0 8px 0 0; background:url("../images/pc_bullet.png") no-repeat;}
.responsive_bullet{display:inline-block; width:56px; height:18px; padding:0 8px 0 0; background:url("../images/responsible_bullet.png") no-repeat;}
.mobile_bullet {display:inline-block; width:56px; height:18px; padding:0 8px 0 0; background:url("../images/mobile_bullet.png") no-repeat;}